.Header{
    padding: 0 10px;
    .logo{
        display: none;
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        margin-left: 10px;
        
            a{
                text-decoration: none;
                color: #fff;
            }
    }

    .mini-menu{
        display: none;
        align-items: center;

        img{
            max-width: 30px;
            filter: invert(100%);
        }

        a{
            text-decoration: none;
            color: #fff;
        }
    }

    .menu{
        display: none;
    }
    
    .burger{
        display: none;
        margin: 0 5px;
        

       
    }

    .wrapper{
        width: 100%;
        background-color: rgb(18, 17, 17);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: #fff;
    }

    nav{
        flex: 1 1 80%;
        display: flex;
        justify-content: center;
    }
    nav a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        margin: 0 15px;
        text-transform: uppercase;
        transition: all .4s;
    }

    nav a:hover{
        color: #a01c1c;
    }

    .login{
        
        display: flex;
        align-items: center;

        button{
            padding: 5px 20px;
            font-size: 14px;
 
            background-color: #fff;
            color: black;
            border-radius: 20px;
            text-transform: uppercase;
        }
    }

}

.UserPanel{
    display: flex;
    align-items: center;
    position: relative;

    .user{
        display: flex;
        align-items: center;
        margin: 0 10px;

        img{
            max-width: 30px;
            filter: invert(100%);
            margin: 0 5px;
        }

        p{
            transition: all .4s;
        }
        p:hover{
            color: #a01c1c;
            cursor: pointer;
        }
    }

    .user:hover .user_menu{
        display: block;
    }
    .user_menu{
        position: absolute;
        top: 100%;
        background-color: rgb(64, 61, 61);
        padding: 5px 15px;
        z-index: 10;
        display: none;

        ul{
            list-style: none;
            margin: none;
            padding: 0;

            li{
                transition: all .4s;
                cursor: pointer;
            }
            a:hover{
                color: #a01c1c;
            }
            a{
                text-decoration: none;
                color: #fff;
                transition: all .4s;
            }
        }

       
    }

    img{
        max-width: 30px;
        filter: invert(100%);
    }

    button{
        padding: 5px 20px;
        font-size: 14px;

        background-color: #fff;
        color: black;
        border-radius: 20px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .cartNumber{
        color: #fff;
        text-decoration: none;
    }
}

@media(max-width: 1024px){
    .Header{
        .logo{
            display: block;
          }
        
          nav{
            display: none;
          }

        .burger{
            display: block;
            width: 20px;
            height: 13px;
            position: relative;
            margin: 0 15px;
            .span{
                width: 20px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 6px;
            }
            .span::before, .span::after{
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                background-color: #ffffff;
                position: absolute;
                left: 0;
            }
            .span::before{
               top: -6px;
            }
            .span::after{
                top: 6px;
            }
        }

        .login{
            display: none;
        }

        .menu{
            display: block;
        }
        .mini-menu{
            display: flex;
        }
        
    }

    .UserPanel{
        p{
            display: none;
        }
        a{
            display: none;
        }
    }
 
}