
.Store{
    .wrapper{
        padding: 50px;
        font-size: 20px;
        line-height: 24px;

        h1{
            margin-bottom: 50px;
        }

        h3{
            color: rgb(158, 16, 16);
        }
    }
}