.Sidebar{
    flex: 0 1 20%;
    height: auto;
    background-color: rgb(43, 38, 38);
    color: #fff;

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .logo{
            font-size: 30px;
            line-height: 33px;
            font-weight: 800;
            margin-top: 20px;
        }

        .search{
            margin-top: 30px;
            width: 80%;
            display: flex;
            align-items: center;
            input{
                flex: 0 1 70%;
                border-radius: 20px 0 0 20px;
                border: solid 1px #fff;
                font-size: 16px;
                padding: 5px 10px;
                line-height: 18px;
            }

            button{
                flex: 0 1 30%;
                padding: 5px 10px;
                font-size: 16px;
                line-height: 18px;
                background-color: #a01c1c;
                border-radius: 0 20px 20px 0;

                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
            
        }

        nav{
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            a{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                margin: 5px 0;
            }
        }
    }


}