body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
  color: #fff;
  position: relative;
  z-index: 1;
}

main{
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}
.main-layout{
  flex: 0 1 80%;
  background-color: black;
  position: relative;
  z-index: 1;
}

@media(max-width: 1024px){
  .main-layout{
      flex: 100%;
  }
}

@media(max-width: 767px){
  .main-layout{
      flex: 100%;
  }
}