.Footer{
    width: 100%;
    background-color: rgb(12, 11, 11);
    position: relative;
}
.Footer .wrapper{
    display: flex;
    justify-content: center;
  

}
.Footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    color: #ffffffcf;
    margin: 20px 0;
}
.Footer img{
    max-width: 40px;
    height: auto;
    filter: invert();
    margin-right: 15px;
}